@model InvoiceViewModel

@{
    ViewData["Title"] = "Invoice List";
    string nameFrom = "";
    string nameTo = "";
    double totalAmount = 0;
}

<div class="row">
    <div class="col-sm-9">
        <h3>Invoices for @Model.Customer.Name</h3>
    </div>
    <div class="col-sm-3">
        @if (@Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("A") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("B") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("C") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("D") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("E"))
        {
        <p><a asp-controller="Customer" asp-action="List" asp-route-nameFrom="A" asp-route-nameTo="E">Return to A-E customers</a></p>
        nameFrom ="A";
        nameTo ="E";
        }
        else if (@Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("F") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("G") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("H") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("I") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("J")|| @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("K"))
        {
        <p><a asp-controller="Customer" asp-action="List" asp-route-nameFrom="F" asp-route-nameTo="K">Return to F-K customers</a></p>
        nameFrom ="F";
        nameTo ="K";
        }
        else if (@Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("L") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("M") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("N") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("O") || @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("P")|| @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("Q")|| @Model.SelectedInvoice.Customer.Name.ToUpper().StartsWith("R"))
        {
        <p><a asp-controller="Customer" asp-action="List" asp-route-nameFrom="L" asp-route-nameTo="R">Return to L-R customers</a></p>
        nameFrom ="L";
        nameTo ="R";
        }
        else
        {
        <p><a asp-controller="Customer" asp-action="List" asp-route-nameFrom="S" asp-route-nameTo="Z">Return to S-Z customers</a></p>
        nameFrom ="S";
        nameTo ="Z";
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-7">
        <h4 class="text-muted">Address: @Model.Customer.Address1</h4><br />

        <h6>Invocies</h6>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Invoice  #</th>
                    <th>Due date</th>
                    <th>Amount paid</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model.Customer.Invoices)
                {
                    <tr>
                        <td>
                            <a asp-controller="Customer" asp-action="GetInvoiceLineItems" asp-route-invoiceId="@invoice.InvoiceId" asp-route-customerId="@Model.Customer?.CustomerId">@invoice.InvoiceId</a>
                        </td>
                        <td>@invoice.InvoiceDueDate?.ToString("d")</td>

                        <td>@invoice.PaymentTotal</td>
                    </tr>
                }
            </tbody>
        </table><br></br><br />
        <form class="row g-3" asp-controller="Customer" asp-action="AddInvoiceInCustomerById"
              asp-route-customerId="@Model.Customer.CustomerId" asp-route-invoiceId="@Model.SelectedInvoice.InvoiceId" method="post"
              enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-auto">
                    <label class="col-auto" asp-for="@Model.NewInvoice.InvoiceDate">Date:</label>
                </div>
                <div class="col-auto">
                    <input type="date" class="form-control" asp-for="@Model.NewInvoice.InvoiceDate" />
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label asp-for="@Model.NewInvoice.PaymentTermsId">Terms:</label>
                </div>
                <div class="col-auto">
                    <select asp-for="@Model.NewInvoice.PaymentTermsId" class="form-control">
                        <option value="">Select a Term!!</option>
                        @foreach (PaymentTerms p in Model.PaymentTerms)
                        {
                            <option value="@p.PaymentTermsId">@p.Description</option>
                        }
                    </select>
                    <input type="hidden" asp-for="@Model.NewInvoice.CustomerId " />
                </div>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Add a Invoice</button>
            </div>
        </form><br></br>
    </div>
    <div class="col-sm-5" style="">
        <h6 class="text-muted" style="text-align: right">
            Terms:@{
                int days = 0;
                if (Model.SelectedInvoice.PaymentTermsId == 1)
                {
                    days += 10;
                }
                else if (Model.SelectedInvoice.PaymentTermsId == 2)
                { days += 20; }
                else if (Model.SelectedInvoice.PaymentTermsId == 3)
                { days += 30; }
                else if (Model.SelectedInvoice.PaymentTermsId == 4)
                { days += 60; }
                else if (Model.SelectedInvoice.PaymentTermsId == 5)
                { days += 90; }
            }@days
        </h6><br /><br />
        
        <h6>Line itmes for invoice #@Model.SelectedInvoice.InvoiceId</h6>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SelectedInvoice.InvoiceLineItems)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.Amount</td>
                    </tr>
                    totalAmount += (double) item.Amount;
                }
            </tbody>
        </table>
        <h6>Total: $@totalAmount</h6>

        <form asp-controller="Customer" asp-action="AddInvoiceLineItemInInvoiceById" asp-route-customerId="@Model.Customer.CustomerId" asp-route-invoiceId="@Model.SelectedInvoice.InvoiceId">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="@Model.NewInvoiceLineItem.Description">Description:</label>
                </div>
                <div class="col-sm-5">
                    <input type="text" asp-for="@Model.NewInvoiceLineItem.Description" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="@Model.NewInvoiceLineItem.Amount">Amount:</label>
                </div>
                <div class="col-sm-5">
                    <input type="text" asp-for="@Model.NewInvoiceLineItem.Amount" class="form-control" />
                </div>
            </div>
            <input type="hidden" asp-for="@Model.NewInvoiceLineItem.InvoiceId " />
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Add line item</button>
            </div>
        </form>
    </div>
</div>